<section class="Description" id="CPHFW-Description">
  <h1>Copenhagen Fashion Week</h1>
  <p>In this project my team was tasked with creating an info screen for the Copenhagen Fashion Week event. This was the first serious project in the multimedia design education.</p>
</section>
