<section class="Research" id="CPHFW-Research">
  <h1>User Research</h1>
  <p>Before designing a solution, we used different research methods such as Interviews, Desk Research and Surveys to find out more about our users expectations, opinions ands needs.</p>
</section>
